html,body{   
    background-color: rgb(54, 54, 54);
    margin: 0;
    padding: 0;
    color: rgb(235, 220, 220); 
}
.main-content{
    max-width: 700px;
    margin: auto;
    width: 100%;

}
.logo{
    background-color: rgb(124, 124, 124);
    height: 50px;
    font-style: italic;
    text-align: center;
    padding: 25px;
    margin: 5px;
   
}
.name{
    background-color: rgb(124, 124, 124);
    font-style: italic;
    text-align: center;

    padding: 25px;
    margin: 5px;
   
   
    
}
.name img{
    width: 150px;
    border-radius: 100%;
}
.Resume{ 
    background-color: rgb(124, 124, 124);
    padding: 1px;
    margin: 5px;
   
}

.educational{
    background-color: rgb(124, 124, 124);
    padding: 20px;
    margin: 5px;
}
.contact{
    background-color: rgb(124, 124, 124);
    padding: 20px;
    margin: 5px;
}
.ability{ 
    background-color: rgb(124, 124, 124);
    padding: 20px;
    margin: 5px;
}
.experience{
    background-color: rgb(124, 124, 124);
    padding: 20px;
    margin: 5px;
}
.teams{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.contactme{
    background-color: rgb(124, 124, 124);
    padding: 20px;
    margin: 5px; 
}
.comment{
    background-color: rgb(124, 124, 124);
    padding: 20px;
     margin: 5px;  
}
.under{
    font-style: italic;
    text-align: center;
    padding: 25px;
    margin: 5px;
}
